
body {
    background-color:rgb(56, 50, 50)
}

img{
    max-height: 100%;
    max-width: 100%;

}

.forstabild{
    width: auto;
    min-height: 350px;
    display:flex;
 justify-content:center;
    background-color:rgb(56, 50, 50)
}


.klasser{
    width: auto;
    height:500px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 500px;
    
}

.filler{
    height: 400px; 
}

.scout{
    width:auto;
    /* height: 500px;  */
    background-color: 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
}