
body {
    background-color:rgb(21, 119, 59)
}

.forstabild{
    width: auto;
    min-height: 350px;
    display:flex;
 justify-content:center;
    background-color:rgb(56, 50, 50)
}


.klasser{
    width: auto;
    height:500px;
    background-color: rgb(0, 0, 0);
    display: grid;
.scut{
    width: 25%;
    height: 25%; 
}

}
